spring.application.name: spring_boosters

server:
  port: ${SERVER_PORT:8081}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/spring_booster_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    clean-disabled: false
    default-schema: spring_boosters

jwt.secret: e4f9c3ad7b1f4a89d3e92bf7a8c4d1f6e7b9a2c3d4f1b6e8c9a3f7d2e4b8c1a7f6d3e9b4c2a1f7d8c6b3e4a9d2f1c7b8e3a4
jwt.expiration-seconds: 3600

notification:
  service:
    host: ${NOTIFICATION_SERVICE_HOST:notification_service}
    port: ${NOTIFICATION_SERVICE_PORT:8082}
    path: /api/v1/email/send

# OpenAPI
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
    disable-swagger-default-url: true
  show-actuator: false
  group-configs:
    - group: 'default'
      paths-to-match: '/api/**'
      packages-to-scan: ch.ffhs.spring_boosters.controller

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.flywaydb: debug
