server:
  port: 8000

spring:
  cloud:
    gateway:
      routes:
        - id: all-forward
          uri: http://localhost:8081
          predicates:
            - Path=/**
          filters:
            - RewritePath=/(?<remaining>.*), /${remaining}