spring.application.name: spring_boosters
spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/spring_booster_db
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true
    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true
      validate-on-migrate: true
      clean-disabled: false
      default-schema: public
    security:
        user:
            name: admin
            password: admin
            roles: ADMIN

jwt:
    secret: mySecretJWTKey123456789SpringBootersFFHS2025
    expiration: 86400000

# SpringDoc OpenAPI Configuration
springdoc:
    api-docs:
        path: /v3/api-docs
        enabled: true
    swagger-ui:
        path: /swagger-ui.html
        enabled: true
        try-it-out-enabled: true
        operations-sorter: alpha
        tags-sorter: alpha
        display-request-duration: true
        disable-swagger-default-url: true
    show-actuator: false
    group-configs:
        - group: 'default'
          paths-to-match: '/api/**'
          packages-to-scan: ch.ffhs.spring_boosters.controller

logging:
    level:
        org.hibernate.SQL: debug
        org.hibernate.orm.jdbc.bind: trace
        org.springframework.security: debug
        org.flywaydb: debug
server:
    port: 8080
